appdirs==1.4.4
audioread==3.0.0
beautifulsoup4==4.11.1
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
contourpy==1.0.7
cycler==0.11.0
decorator==4.4.2
docopt==0.6.2
filelock==3.10.6
Flask==2.2.2
Flask-Cors==3.0.10
Flask-SQLAlchemy==3.0.2
fonttools==4.39.2
google==3.0.0
google-api-core==2.11.0
google-auth==2.14.1
google-cloud==0.34.0
google-cloud-core==2.3.2
google-cloud-language==2.9.1
google-cloud-speech==2.16.2
google-cloud-storage==2.6.0
google-crc32c==1.5.0
google-resumable-media==2.4.0
googleapis-common-protos==1.57.0
grpcio==1.50.0
grpcio-status==1.50.0
idna==3.4
imageio==2.22.4
imageio-ffmpeg==0.4.7
importlib-metadata==5.0.0
importlib-resources==5.12.0
inflect==5.3.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
jsonpatch==1.32
jsonpointer==2.3
kiwisolver==1.4.4
lazy_loader==0.2
librosa==0.8.1
llvmlite==0.39.1
MarkupSafe==2.1.1
matplotlib==3.5.1
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.5
mutagen==1.46.0
networkx==3.0
numba==0.56.4
numpy==1.22.4
opencv-python==4.7.0.68
packaging==23.0
pathlib==1.0.1
Pillow==8.4.0
pooch==1.6.0
proglog==0.1.10
proto-plus==1.22.1
protobuf==4.21.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.7
pydub==0.25.1
pynndescent==0.5.8
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.7.1
pyzmq==25.0.2
requests==2.28.1
resampy==0.4.2
rsa==4.9
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
sounddevice==0.4.3
SoundFile==0.10.3.post1
soupsieve==2.3.2.post1
soxr==0.3.4
SQLAlchemy==1.4.44
sympy==1.11.1
threadpoolctl==3.1.0
torch==2.0.0
torchfile==0.1.0
tornado==6.2
tqdm==4.62.3
typing_extensions==4.5.0
umap-learn==0.5.2
Unidecode==1.3.2
urllib3==1.26.7
visdom==0.1.8.9
webrtcvad==2.0.10
websocket-client==1.5.1
Werkzeug==2.2.2
yarg==0.1.9
zipp==3.10.0
